{% load i18n %}

<main role="main" class="inner cover col-12">
    <br>
    {% trans 'Vacancy list' %}:
    <br>
    <table class="table table-striped table-bordered">
        <th style="width: 30%;">{% trans 'Title' %}</th>
        <th>{% trans 'Description' %}</th>
        {% for vacancy in  object_list %}
            <tr>
                <td><a href="{% url 'vacancies:detail' vacancy.id %}">{{vacancy.title}}</a></td>
                <td>
                    {{vacancy.description|truncatechars:150}}
                    <a href="{% url 'vacancies:update' vacancy.id %}?next=javascript:history.back()"> &#9998;</a>
                    <a href="{% url 'vacancies:delete' vacancy.id %}?next=javascript:history.back()"> &#10008;</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a href="javascript:history.back()">{% trans '&#8592; Go Back' %}</a>
</main>

