{% load i18n %}

{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}{% endblock %}
    <title>Video-resume</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="padding-bottom: 70px;">
    {% block menu %}
        {% include 'components/navbar.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}
        {% include 'components/footer1.html' %}
    {% endblock %}
    {% render_bundle 'main' 'js' %}
</body>
</html>