{% load i18n static staticfiles %}

<main role="main" class="inner cover">
    <h1 class="cover-heading">{% trans 'Video resume gives you new opportunities.' %}</h1>
    <p class="lead">{% trans 'Why Video Resume is so great?' %}<br><br>
        {% blocktrans trimmed %}
            With our service it is more simple to make
            then write a normal CV. This can be done in just a couple of minutes.
            Do not miss you chance to catch a good job with our help!
        {% endblocktrans %}
    </p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">{% trans 'Learn more' %}</a>
    </p>
</main>
