{% load i18n static staticfiles last_vacancies last_resumes %}

<div class="row text-center mt-3">
    <div class="col">
        <h1 class="cover-heading">{% trans 'Video resume gives you new opportunities.' %}</h1>
        <p class="lead">{% trans 'Why Video Resume is so great?' %}<br><br>
            {% blocktrans %}With our service it is more simple to make a CV
                then write a regular one. This can be done in just a couple of minutes.
                Do not miss you chance to catch a good job with our help!{% endblocktrans %}
            <br>
            <a href="{% url 'features' %}">{% trans 'Learn more' %} &#8605;</a>
        </p>
        <p class="lead">
<!--          <a href="#exampleModal" class="btn btn-lg btn-secondary" id="start">{% trans 'Start recording a new perfect resume' %}</a>-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                {% trans 'Start recording a new perfect resume' %}
            </button>
        </p>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% trans 'Start recording a new perfect resume' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="background: black;">
                  <div class="filler" style="width: 200px; height: 300px;">
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                <button type="button" class="btn btn-primary">{% trans 'Register and save' %}</button>
              </div>
            </div>
          </div>
        </div>
        {% last_vacancies %}
        {% last_resumes %}
        <hr></hr>
    </div>
</div>