{% extends 'base.html' %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block content %}
  <div class="mt-3" style="" xmlns="http://www.w3.org/1999/html">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="{% url 'dashboard_hr:main' %}" class="active nav-link">{% trans 'Main' %}</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">{% trans 'Questions' %}</a> </li>
            <li class="nav-item"> <a href="{% url 'dashboard_hr:vacancies' %}" class="nav-link">{% trans 'Vacancies' %}</a> </li>
            <li class="nav-item"><a class="nav-link" href="#">{% trans 'Favourites' %}</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        {% block sub_content %}{% endblock %}
      </div>
  </div>
  </div>
{% endblock %}
