{% extends 'base.html' %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block content %}
<div class="py-5" style="" xmlns="http://www.w3.org/1999/html">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="{% url 'dashboard_hr:main' object.pk  %}" class="active nav-link">{% trans 'Main' %}</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">{% trans 'Questions' %}</a> </li>
            <li class="nav-item"> <a href="#" class="nav-link">{% trans 'Vacancies' %}</a> </li>
            <li class="nav-item"><a class="nav-link" href="#">{% trans 'Favourites' %}</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 card-body">
          <div class="card">
            <div class="card-header">{% trans 'Last answers' %}</div>
            <!--<div class="card-body">-->
              {% if object.answer.last %}
                <blockquote class="blockquote mb-0">
                  <h4>{{ object.answer.last.title }}</h4>
                  <p>{{ object.answer.last.about }}</p>
                </blockquote>
              <a href="#" class="btn btn-primary">{% trans 'Update' %}</a>
              {% else %}
                <p class="vert-align">{% trans 'No answers' %}</p>
              {% endif %}
            <!--</div>-->
          </div>
        </div>
        <div class="col-md-6 card-body">
          <div class="card">
            <div class="card-header">{% trans 'Last vacancies' %}</div>
            {% if vacancies %}
              <ul class="list-group">
                {% for vacancy in vacancies %}
                  <li class="list-inline-item">
                    <a class="" href="{% url 'vacancies:vacancy_detail' vacancy.id %}">{{ vacancy.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <ul class="list-group-item">
                <il><h4>{% trans 'Vacancy was not created' %}</h4></il>
              </ul>
            {% endif %}
          </div>
          <div class="tab-content mt-2">
            <a href="{% url 'vacancies:vacancy_create' %}" class="btn btn-primary">{% trans 'Add vacancy' %}</a>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
