{% extends 'base.html' %}
{% load i18n %}

{% block head %}
  <title>{% trans 'HR dashboard' %}</title>
{% endblock %}

{% block menu %}
  {% include 'components/navbar.html' %}
  {% include 'dashboard_hr/parts/navbar.html' %}
{% endblock %}

{% block content %}
  <div class="container">
    {% trans 'Last vacancies' %}
    <div class="justify-content-md-center">
      <table class="table-bordered">
        <div class="row">
        <tr>
          <td class="col-sm">Title</td>
          <td class="col-sm">Description</td>
        </tr>
        <!--{% for vacancy in vacancies %}-->
          <!--<tr>-->
            <!--<td>{{ vacancy.title }}</td>-->
            <!--<td>{{ vacancy.description }}<td/>-->
          <!--</tr>-->
        <!--{% endfor %}-->
        </div>
      </table>
    </div>
  </div>
<div class="container">
  <div class="row">
    <table class="table-bordered">
      <tr>
        <td class="col">
          One of three columns
        </td>
        <td class="col">
          One of three columns
        </td>
        <td class="col">
          One of three columns
        </td>
`      </tr>
    </table>
  </div>
</div>
{% endblock %}
`