{% extends 'dashboard_hr/base.html' %}
{% load i18n %}

{% block sub_content %}
  <div class="col-md-6 card-body">
    <div class="card">
      <div class="card-header">{% trans 'Last questions' %}</div>
        {% if object.answer.last %}
          <blockquote class="blockquote mb-0">
            <h4>{{ object.question.last.title }}</h4>
            <p>{{ object.question.last.about }}</p>
          </blockquote>
        <a href="#" class="btn btn-primary">{% trans 'Update' %}</a>
        {% else %}
          <p class="vert-align">{% trans 'No questions' %}</p>
        {% endif %}
    </div>
  </div>
  <div class="col-md-6 card-body">
    <div class="card">
      <div class="card-header">{% trans 'Last vacancies' %}</div>
      {% if vacancies %}
        <ul class="list-group">
          {% for vacancy in vacancies %}
            <li class="list-inline-item">
              <a class="" href="{% url 'vacancies:detail' vacancy.id %}">{{ vacancy.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <ul class="list-group-item">
          <il><h4>{% trans 'Vacancy was not created' %}</h4></il>
        </ul>
      {% endif %}
    </div>
    <div class="tab-content mt-2">
      <a href="{% url 'vacancies:create' %}" class="btn btn-outline-info">{% trans 'Add vacancy' %}</a>
    </div>
  </div>
{% endblock %}