{% extends "base.html" %}


{% block content %}
<div class="container" id="content">
  <div class="row justify-content-center">
    <div class="col">
        <div class="card">
          <div class="card-body">
            <form method="post" action=".">
                <p><strong>To login, you need to fill up these fields below:</strong></p>
                {% csrf_token %}
                {% for field in form %}
                        {% if field.errors %}
                            <div class="form-group error">
                                <label class="col-form-label">{{ field.label }}</label>
                                <div class="controls">
                                  {{ field }}
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        {% for error in  field.errors %}{{ error }}{% endfor %}
                                    </small>
                                </div>
                            </div>
                        {% else %}
                            <div class="form-group">
                                <label class="col-form-label">{{ field.label }}</label>
                                <div class="controls">
                                  {{ field }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
              <input type="submit" value="Войти">
              <div>
                <p>Still don't have the account?<a href="{% url 'sign_in' %}">Registrate yourself!</a></p>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}