{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container" id="content">
  <div class="row justify-content-center mt-3 mb-3">
    <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <p><strong>{% trans "Fill in the following fields to register a new user:" %}</strong></p>
            <form method="post" action=".">
                {% csrf_token %}
                {% for field in form %}
                        {% if field.errors %}
                            <div class="form-group error">
                                {% if field.label == "hidden_field" %}
                                    {{ field }}
                                {% else %}
                                    <label class="col-form-label">{{ field.label }}</label>
                                    <div class="controls">
                                      {{ field }}
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            {% for error in  field.errors %}{{ error }}{% endfor %}
                                        </small>
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="form-group">
                                {% if field.label == "hidden_field" %}
                                    {{ field }}
                                {% else %}
                                    <label class="col-form-label">{{ field.label }}</label>
                                    <div class="controls">
                                      {{ field }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
              <input type="submit" value="{% trans "Register" %}" class="btn btn-outline-primary"/>
              <div class="conclusion form-text text-muted">
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}