{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">{% trans 'Choose your role' %}</h1><br><br>
        <p class="lead">{% trans 'Are you' %}</p>
        <p class="lead">
          <a href="{% url 'registration-user' %}" class="btn btn-lg btn-secondary">{% trans 'a programmer?' %}</a>
          <a href="{% url 'registration-hr' %}" class="btn btn-lg btn-secondary">{% trans 'a human resources manager?' %}</a>
        </p>
    </main>
</div>
{% endblock %}