{% extends 'base.html' %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block content %}
  <div class="py-5 border-0" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="{% url 'dashboard_worker:dashboard_worker_resume' pk=resume_pk %}" class="nav-link">{% trans 'My resume' %}</a> </li>
            <li class="nav-item"> <a class="nav-link active" href="{% url 'dashboard_worker:dashboard_worker_resume_update' pk=resume_pk w_pk=w_pk %}">{{ title }}</a> </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="row">
            <div class="mx-auto p-4 col-lg-7">
              <h1 class="mb-4">{% trans 'Delete skill:' %}</h1>
              <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <hr>
                <button type="submit" class="btn btn-primary">{% trans 'Delete skill' %}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}