{% extends 'base.html' %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block content %}
  <div class="py-5 border-0" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="{% url 'dashboard_worker:dashboard_worker_resume' pk=w_pk %}" class="nav-link">{% trans 'My resume' %}</a> </li>
            <li class="nav-item"> <a class="nav-link active" href="">{% trans 'Add resume' %}</a> </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="row">
            <div class="mx-auto p-4 col-lg-7">
              <h1 class="mb-4">{{ title }}</h1>
              <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                  <label for="id_title">{% trans 'Title:' %}</label>
                  {{ form.title }}
                  {{ form.title.errors }}
                </div>
                <div class="form-group">
                  <label for="id_other_skills">{% trans 'Other skills:' %}</label>
                  {{ form.other_skills }}
                  {{ form.other_skills.errors }}
                </div>
                <div class="form-group">
                  <label for="id_hobbies">{% trans 'Hobbies:' %}</label>
                  {{ form.hobbies }}
                  {{ form.hobbies.errors }}
                </div>
                <div class="form-group">
                  <label for="id_about">{% trans 'About:' %}</label>
                  {{ form.about }}
                  {{ form.about.errors }}
                </div>
                <div class="form-group">
                  <label for="id_education">{% trans 'Education:' %}</label>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary edu-add">{% trans 'Add education' %}</button>
                    <div class="edu-form mt-2">
                    </div>
                    <div class="form-group ml-3 edu-list">
                    </div>
                  </div>
                  {% for edu in form.education %}
                    <div class="form-row ml-3">
                      <li>{{ edu }}</li>
                    </div>
                  {% endfor %}
                  {{ form.education.errors }}
                </div>
                <div class="form-group">
                  <label for="id_skill">{% trans 'Skills:' %}</label>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary skill-add">{% trans 'Add skill' %}</button>
                    <div class="skill-form mt-2">
                    </div>
                    <div class="form-group ml-3 skill-list">
                    </div>
                  </div>
                  {% for one_skill in form.skill %}
                    <div class="form-row ml-3">
                      <li>{{ one_skill }}</li>
                    </div>
                  {% endfor %}
                  {{ form.skill.errors }}
                </div>
                <div class="form-group">
                  <label for="id_job">{% trans 'Jobs:' %}</label>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary job-add">{% trans 'Add job' %}</button>
                    <div class="job-form mt-2">
                    </div>
                    <div class="form-group ml-3 job-list">
                    </div>
                  </div>
                  {% for one_job in form.job %}
                    <div class="form-row ml-3">
                      <li>{{ one_job }}</li>
                    </div>
                  {% endfor %}
                  {{ form.job.errors }}
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">{% trans 'Add resume' %}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
      var host = $(location).attr('host');
      var button_edu_add = $(".edu-add");
      var button_skill_add = $(".skill-add");
      var button_job_add = $(".job-add");
      function* generateSequence(start, end) {
        for (let i = start; i <= end; i++) yield i;
      }
      $(button_edu_add).click(() => {
        if ($(".edu-form").children().length == 0) {
          var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
          var url = 'http://' + host + '/dashboard/worker/education/create/' + "0" + '/' + "{{ w_pk }}"
          var data = {'tag': 'create'};
          $.ajax({
              url: url,
              method: 'POST',
              headers: {"X-CSRFToken": csrf_token},
              data: data,
              success: function(data) {
                $(".edu-form").append('<hr><form class="edu-create-form">' + data['response'] + '<button type="submit" class="btn btn-primary edu-create-add mt-2">{% trans 'Add this education' %}</button><hr>');
              },
              error: function() {
                  console.log("А response is not received");
              }
          });
        } else {
          $(".edu-form").empty()
        }
       })
     var gen_id_edu = generateSequence(0, 50)
     $(".edu-form").submit((e) => {
        e.preventDefault();
        var id = gen_id_edu.next()['value']
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
        var url = 'http://' + host + '/dashboard/worker/education/create/' + "0" + '/' + "{{ w_pk }}"
        var data = {};
        data['period_edu'] = $('#id_period_edu').val();
        data['name_institution'] = $('#id_name_institution').val();
        data['faculty'] = $('#id_faculty').val();
        data['form_study'] = $('#id_form_study').val();
        data['tag'] = 'add'
        $.ajax({
          url: url,
          method: 'POST',
          headers: {"X-CSRFToken": csrf_token},
          data: data,
          success: function(data) {
            $(".edu-form").empty()
            $(".edu-list").append('<div class="form-check"><label class="form-check-label" for="id_education_' + id + '"><input type="checkbox" class="form-check-input" name="education" value="' + data['pk'] + '" id="id_education_' + id + '" checked="">' + data['name_institution'] + '</label></div>')
          },
          error: function() {
            console.log("А response is not received");
          }
        })
      })
      $(button_skill_add).click(() => {
        if ($(".skill-form").children().length == 0) {
          var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
          var url = 'http://' + host + '/dashboard/worker/skill/create/' + "0" + '/' + "{{ w_pk }}"
          var data = {'tag': 'create'};
          $.ajax({
              url: url,
              method: 'POST',
              headers: {"X-CSRFToken": csrf_token},
              data: data,
              success: function(data) {
                $(".skill-form").append('<hr><form class="skill-create-form">' + data['response'] + '<button type="submit" class="btn btn-primary skill-create-add mt-2">{% trans 'Add this skill' %}</button><hr>');
              },
              error: function() {
                  console.log("А response is not received");
              }
          });
        } else {
          $(".skill-form").empty()
        }
       })
       var gen_id_skill = generateSequence(0, 50)
       $(".skill-form").submit((e) => {
        e.preventDefault();
        var id = gen_id_skill.next()['value']
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
        var url = 'http://' + host + '/dashboard/worker/skill/create/' + "0" + '/' + "{{ w_pk }}"
        var data = {};
        data['name'] = $('#id_name').val();
        data['tag'] = 'add'
        $.ajax({
          url: url,
          method: 'POST',
          headers: {"X-CSRFToken": csrf_token},
          data: data,
          success: function(data) {
            $(".skill-form").empty()
            $(".skill-list").append('<div class="form-check"><label class="form-check-label" for="id_skill_' + id + '"><input type="checkbox" class="form-check-input" name="skill" value="' + data['pk'] + '" id="id_skill_' + id + '" checked="">' + data['name'] + '</label></div>')
          },
          error: function() {
            console.log("А response is not received");
          }
        })
      })
      $(button_job_add).click(() => {
        if ($(".job-form").children().length == 0) {
          var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
          var url = 'http://' + host + '/dashboard/worker/job/create/' + "0" + '/' + "{{ w_pk }}"
          var data = {'tag': 'create'};
          $.ajax({
              url: url,
              method: 'POST',
              headers: {"X-CSRFToken": csrf_token},
              data: data,
              success: function(data) {
                $(".job-form").append('<hr><form class="job-create-form">' + data['response'] + '<button type="submit" class="btn btn-primary job-create-add mt-2">{% trans 'Add this job' %}</button><hr>');
              },
              error: function() {
                  console.log("А response is not received");
              }
          });
        } else {
          $(".job-form").empty()
        }
       })
       var gen_id_job = generateSequence(0, 50)
       $(".job-form").submit((e) => {
        e.preventDefault();
        var id = gen_id_job.next()['value']
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
        var url = 'http://' + host + '/dashboard/worker/job/create/' + "0" + '/' + "{{ w_pk }}"
        var data = {};
        data['period_work'] = $('#id_period_work').val();
        data['position'] = $('#id_position').val();
        data['name_company'] = $('#id_name_company').val();
        data['tag'] = 'add'
        $.ajax({
          url: url,
          method: 'POST',
          headers: {"X-CSRFToken": csrf_token},
          data: data,
          success: function(data) {
            $(".job-form").empty()
            $(".job-list").append('<div class="form-check"><label class="form-check-label" for="id_job_' + id + '"><input type="checkbox" class="form-check-input" name="job" value="' + data['pk'] + '" id="id_job_' + id + '" checked="">' + data['name_company'] + '</label></div>')
          },
          error: function() {
            console.log("А response is not received");
          }
        })
      })
    })
</script>
{% endblock %}