{% extends 'base.html' %}
{% load i18n %}
{% block head %}
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="{% url 'dashboard_worker:dashboard_worker_main' pk=object.pk %}" class="active nav-link">{% trans 'Main' %}</a> </li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'dashboard_worker:dashboard_worker_question' worker_pk=object.pk %}">{% trans 'Questions' %}</a> </li>
<!--            <li class="nav-item"> <a class="nav-link" href="#">{% trans 'Responses' %}</a> </li>-->
            <li class="nav-item"> <a href="{% url 'dashboard_worker:dashboard_worker_resume' pk=object.pk %}" class="nav-link">{% trans 'Resume' %}</a> </li>
<!--            <li class="nav-item"><a class="nav-link" href="#">{% trans 'Favourites' %}</a></li>-->
          </ul>
        </div>
      </div>
      <div class="row justify-content-center text-left">
        <div class="col-md-5" style="">
          <div class="card-body mt-1">
            <div class="col-md-12" style="">
              <div class="card">
                <div class="card-header mt-0">{% trans 'Last resume' %}</div>
                <div class="card-body">
                  {% if object.resume.last %}
                    <blockquote class="blockquote mb-0">
                      <h4 class="">{{ object.resume.last.title }}</h4>
                      <p>{{ object.resume.last.about }}</p>
                    </blockquote><a href="{% url 'dashboard_worker:dashboard_worker_resume_update' pk=object.resume.last.pk worker_pk=object.pk %}" class="btn btn-primary">{% trans 'Update' %}</a>
                  {% else %}
                    <blockquote class="blockquote mb-0">
                        <p>{% trans 'Resume was not created' %}</p>
                    </blockquote>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7" style="">
          <div class="row">
            <div class="col-md-12">
              <div class="card-header mt-3 border">{% trans 'Found jobs suitable for your resume' %}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="card">
                  {% if object.resume.last %}
                    <div class="card-header border">
                      <ul class="nav nav-tabs card-header-tabs">
                        {% for resume in object.resume.all %}
                          {% if forloop.first %}
                            <li class="nav-item">
                              <a class="nav-link worker-search-title active" href="" data-toggle="tab" data-target="#tab{{resume.pk}}">{{ resume.title }}</a>
                            </li>
                          {% else %}
                            <li class="nav-item">
                              <a class="nav-link worker-search-title" href="" data-toggle="tab" data-target="#tab{{resume.pk}}">{{ resume.title }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content mt-2">
                          {% for resume in object.resume.all %}
                            {% if forloop.first %}
                              <div class="tab-pane worker-search-list fade show active" id="tab{{resume.pk}}" role="tabpanel">
                                <ul class="list-group list-group-flush">
                                  <p>В разработке</p>
                                </ul>
                              </div>
                            {% else %}
                              <div class="tab-pane worker-search-list fade" id="tab{{resume.pk}}" role="tabpanel">
                                  <ul class="list-group list-group-flush">
                                    <p>В разработке</p>
                                  </ul>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                    </div>
                  {% else %}
                    <div class="card-header border">
                      <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                              <h4>{% trans 'Resume was not created' %}</h4>
                      </ul>
                    </div>
                    <div class="card-body">
                      <div class="tab-content mt-2">
                        <a href="{% url 'dashboard_worker:dashboard_worker_resume_create' worker_pk=pk %}" class="btn btn-primary">{% trans 'Add resume' %}</a>
                      </div>
                    </div>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
