{% load static %}
<head>
  <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
</head>
<body>
<a
  href="/add/{{ field }}"
  class="add-another"
  id="add_id_{{ field }}"
  onclick="return showAddAnotherPopup(this);">
  <img src="/static/admin/img/icon-addlink.svg" width="10" height="10" alt="Add Another"/>
</a>
</body>
