{% load i18n static staticfiles %}
{% load dashboard_tag %}
{% dashboard_tag as dashboard %}

<header class="masthead mb-4">
  <div class="inner">
    <h3 class="masthead-brand">{% trans 'Video Resume' %}</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link main_page" href="{% url 'index' %}">{% trans 'Main' %}</a>
      {% if worker_pk %}
        <a class="nav-link dashboard" href="{% url 'dashboard_worker:dashboard_worker_main' pk=worker_pk %}">{% trans 'Dashboard' %}</a>
      {% endif %}
      <a class="nav-link features" href="#">{% trans 'Features' %}</a>
      <a class="nav-link contacts" href="#">{% trans 'Contact' %}</a>
      <div class="login-block">
        {% if request.user.is_authenticated %}
          <a class="nav-link" title="User profile" href="#">{% trans 'Profile' %}</a>
          <a class="nav-link" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
        {% else %}
          <a class="nav-link role_choice" href="{% url 'sign_up' %}">{% trans 'Sign up' %}</a>
          <a class="nav-link accounts" href="#">{% trans 'Login' %}</a>
        {% endif %}
      </div>
    </nav>
  </div>
</header>
